<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="dbConnectionString" connectionString="server=127.0.0.1;uid=root;pwd=Bendries@93;database=library_manager"/>
	</connectionStrings>
	<appSettings>
		<add key="AES_KEY" value="46294A404E635266556A586E32723575"/>
	</appSettings>
</configuration>